a:link.dark-underline {
    font-size: larger;
    text-decoration: underline;
    color: black;
}

a:visited.dark-underline {
    text-decoration: underline;
    color: black;
}

a:hover.dark-underline {
    text-decoration: underline;
    color: dodgerblue;
}

a:active.testXD {
    text-decoration: underline;
    color: black;
}