a:link.dark-underline {
    font-size: larger;
    text-decoration: underline;
    color: black;
}

a:visited.dark-underline {
    text-decoration: underline;
    color: black;
}

a:hover.dark-underline {
    text-decoration: underline;
    color: dodgerblue;
}

a:active.dark-no-decorations {
    color: black;
}

a:link.dark-no-decorations {
    color: black;
}

a:visited.dark-no-decorations {
    color: black;
}

a:hover.dark-no-decorations {
    color: dodgerblue;
}

a:active.dark-no-decorations {
    color: black;
}
